
<div class="card-group">
    <div class="card sombra margin-card ">
      <img src="queimada1.jpg" class="card-img-top img-fluid" alt="secas-manaus">
      <div class="card-body">
        <h5 class="card-title">Queimada amazonas</h5>
        <p class="card-text"><p>MANAUS</p> setembro de 2023 foi o pior mês de queimadas, no Amazonas</p>
        <p class="card-text"><small class="text-muted">Referencia: Real time</small></p>
        <a href="https://realtime1.com.br/setembro-e-o-pior-mes-em-queimadas-do-ano-no-amazonas/" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
      </div>
    </div>
    <div class="card sombra margin-card">
      <img src="queimada2.jpg" class="card-img-top img-fluid" alt="seca-manaus">
      <div class="card-body ">
        <h5 class="card-title">Queimada Amazonas</h5>
        <p class="card-text">Somente em setembro a área queimada no país chegou a 4 milhões de hectares. Dos dez estados que mais queimaram, oito estão na Amazônia</p>
        <p class="card-text"><small class="text-muted">Referencia: Folha UOL</small></p>
        <a href="https://oeco.org.br/noticias/mais-de-9-milhoes-de-hectares-ja-queimaram-no-brasil-em-2023/" class="btn btn-success position-absolute top-0 start-0  ">Acessar</a>
      </div>
    </div>
    <div class="card sombra margin-card ">
      <img src="queimada3.jpeg" class="card-img-top img-fluid" alt="seca-manaus">
      <div class="card-body">
        <h5 class="card-title">Queimada na Amazonas</h5>
        <p class="card-text">Falta de demarcação definitiva de terras deixa indígenas e quilombolas expostos à ação de invasores</p>
        <p class="card-text"><small class="text-muted">Referencia: Brasil de Fato</small></p>
        <a href="https://www.brasildefato.com.br/2022/12/18/comunidades-tradicionais-lutam-contra-o-fogo-no-maranhao-e-tocantins" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
      </div>
    </div>
  </div><br><br>
   
  <div class="d-flex justify-content-center">
          <video class="embed-responsive-item"  width="600" height="500" controls>
            <source src="/video/Queimadas na Amazônia superam média de setembro - CNN PRIME TIME.mp4" type="video/mp4">
           
        </video>
 </div>
   
  
  
  
  
  
  
  
  
  
  