
<div class="card-group ">
  <div class="card sombra margin-card ">
    <img src="seca-manaus.jpeg" class="card-img-top img-fluid" alt="secas-manaus">
    <div class="card-body">
      <h5 class="card-title">Seca Manaus</h5>
      <p class="card-text"><p>MANAUS</p> – A seca dos rios no Amazonas atinge 32 cidades, segundo a Defesa Civil do Estado. São quatro municípios em situação de emergência, 15 em estado de alerta e 13 em atenção.</p>
      <p class="card-text"><small class="text-muted">Referencia: Amazonas Atual</small></p>
      <a href="https://amazonasatual.com.br/seca-de-rios-no-interior-do-amazonas-afeta-o-transporte-de-alimentos/" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
    </div>
  </div>
  <div class="card sombra margin-card ">
    <img src="secas1.jpg" class="card-img-top img-fluid" alt="seca-manaus">
    <div class="card-body ">
      <h5 class="card-title">Seca pesquisas</h5>
      <p class="card-text">Seca no Amazonas pode afetar compras de fim de ano - 03/10/2023 - Mercado - Folha</p>
      <p class="card-text"><small class="text-muted">Referencia: Folha UOL</small></p>
      <a href="https://www1.folha.uol.com.br/mercado/2023/10/seca-historica-no-amazonas-pode-afetar-compras-de-fim-de-ano.shtml" class="btn btn-success position-absolute top-0 start-0  ">Acessar</a>
    </div>
  </div>
  <div class="card sombra margin-card ">
    <img src="seca3.jpg" class="card-img-top img-fluid" alt="seca-manaus">
    <div class="card-body">
      <h5 class="card-title">Seca atingi ribeirinhos no Amazonas</h5>
      <p class="card-text">Seca no Amazonas afeta mais de 630 mil pessoas | Agência Brasil</p>
      <p class="card-text"><small class="text-muted">Referencia: Amazonas Atual</small></p>
      <a href="https://www1.folha.uol.com.br/mercado/2023/10/seca-historica-no-amazonas-pode-afetar-compras-de-fim-de-ano.shtml" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
    </div>
  </div>
</div><br><br>
   

<div class="d-flex justify-content-center">
        <video class="embed-responsive-item img-fluid" width="600" height="500" controls>
          <source src="/video/Cidades do Amazonas sofrem as consequências de seca fora do comum.mp4" type="video/mp4">
         
        </video>
 </div>










