
<div class="card-group">
    <div class="card sombra margin-card ">
      <img src="logo-queimada.jpg" class="card-img-top img-fluid" alt="queimada">
      <div class="card-body">
        <h5 class="card-title">Queimadas Desnecessaria</h5>
        <p class="card-text"> Evite queimadas desnecessárias: Nunca provoque queimadas para eliminar lixo ou limpar terrenos. Busque alternativas mais seguras e sustentáveis para a eliminação de resíduos.</p>
        <p class="card-text"><small class="text-muted">Referencia: CORPO DE BOMBEIROS MILITAR</small></p>
        <a href="" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
      </div>
    </div>
    <div class="card sombra margin-card">
      <img src="logo-cigarro.jpg" class="card-img-top img-fluid" alt="queimada">
      <div class="card-body ">
        <h5 class="card-title">Incendios por Cigarro </h5>
        <p class="card-text"> Não jogue pontas de cigarro em áreas naturais: Descarte adequadamente as pontas de cigarro em lixeiras apropriadas. Um simples cigarro pode ser suficiente para iniciar um incêndio em áreas secas.</p>
        <p class="card-text"><small class="text-muted">Referencia: CORPO DE BOMBEIROS MILITAR</small></p>
        <a href="" class="btn btn-success position-absolute top-0 start-0 ">Acessar</a>
      </div>
    </div>
    <div class="card sombra margin-card ">
      <img src="logo-fogueira.jpg" class="card-img-top img-fluid" alt="queimada">
      <div class="card-body">
        <h5 class="card-title"> Cuidado ao fazer fogueiras</h5>
        <p class="card-text">Não faça fogueiras em locais não autorizados: Caso esteja acampando ou em áreas de lazer onde a fogueira seja permitida, sempre faça em locais autorizados e tome cuidado para apagá-las completamente após o uso.</p>
        <p class="card-text"><small class="text-muted">Referencia: CORPO DE BOMBEIROS MILITAR </small></p>
        <a href="" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
      </div>
    </div>
  </div><br><br>


  
<div class="card-group">
    <div class="card sombra margin-card ">
      <img src="logo-combate.jpg" class="card-img-top img-fluid" alt="combate">
      <div class="card-body">
        <h5 class="card-title">Como Agir</h5>
        <p class="card-text"> Esteja preparado para agir em caso de incêndios: Mantenha água, abafadores e ferramentas adequadas para combate a incêndios em casa, no carro e em propriedades rurais. Essa preparação pode ser crucial para evitar que pequenos focos se alastrem.</p>
        <p class="card-text"><small class="text-muted">Referencia: CORPO DE BOMBEIROS MILITAR</small></p>
        <a href="" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
      </div>
    </div>
    <div class="card sombra margin-card">
      <img src="logo-informativo2.jpg" class="card-img-top img-fluid"  alt="logo-informativo">
      <div class="card-body ">
        <h5 class="card-title">Sempre esteja Informado! </h5>
        <p class="card-text">Informe-se sobre as condições climáticas: Evite fazer atividades ao ar livre, como churrascos e trilhas, em dias de altas temperaturas, baixa umidade e ventos fortes, pois essas condições favorecem a propagação rápida do fogo.</p>
        <p class="card-text"><small class="text-muted">Referencia: CORPO DE BOMBEIROS MILITAR</small></p>
        <a href="" class="btn btn-success position-absolute top-0 start-0 ">Acessar</a>
      </div>
    </div>
    <div class="card sombra margin-card ">
      <img src="logo-coletivo.jpg" class="card-img-top img-fluid" alt="ambiente-coletivo">
      <div class="card-body">
        <h5 class="card-title"> Ajuda Coletiva ! </h5>
        <p class="card-text">Combater as queimadas é uma tarefa de responsabilidade coletiva. Cada cidadão pode fazer a diferença adotando atitudes conscientes no dia a dia e estando preparado para agir em caso de emergências. Somente com a cooperação de todos poderemos preservar nossos recursos naturais e garantir um futuro mais sustentável para as próximas gerações.</p>
        <p class="card-text"><small class="text-muted">Referencia: CORPO DE BOMBEIROS MILITAR </small></p>
        <a href="" class="btn btn-success position-absolute top-0 start-0">Acessar</a>
      </div>
    </div>
  </div><br><br>


  
 
  

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls>
            <source src="/video/Queimadas - Brasil Escola.mp4" type="video/mp4">
           
          </video>
        </div>
      </div>
    </div>
  </div>
