<br><br><br>

<ul class="list-group container col-6 ">
           
    <li class="list-group-item border border-dark bg-dark">Referências</li>
    <li class="list-group-item border border-dark">https://gauchazh.clicrbs.com.br/ambiente/noticia/2022/10/setembro-registra-metade-de-todas-as-queimadas-do-brasil-no-ano-cl9dgnvcc001m01c9kab0p92t.html</li>
    <li class="list-group-item border border-dark">https://www.greenpeace.org/brasil/blog/brasil-em-chamas-negando-as-aparencias-e-disfarcando-as-evidencias/</li>
    <li class="list-group-item border border-dark">https://www.correiobraziliense.com.br/brasil/2023/04/5087878-amazonia-concentrou-90-das-areas-queimadas-no-pais-no-inicio-de-2023.html</li>
    <li class="list-group-item border border-dark">https://www.cbm.ro.gov.br/index.php/transparencia/noticias/1487-combate-as-queimadas-juntos-pela-preservacao-da-vida#:~:text=Busque%20alternativas%20mais%20seguras%20e,um%20inc%C3%AAndio%20em%20%C3%A1reas%20secas</li>
  </ul>























