
<%- include ('partials/header.ejs'); %>

    <body>
        <%- include ('partials/navbar.ejs'); %>
        <br><br><br>
      
        <ul class="list-group container col-6 ">
           
            <li class="list-group-item border border-dark bg-dark text-Light">Componentes</li>
            <li class="list-group-item border border-dark">Marcos Oliveira Ferreira</li>
            <li class="list-group-item border border-dark">Mikael Ximenes de Souza</li>
            <li class="list-group-item border border-dark">Lídia dos Santos Silva</li>
            <li class="list-group-item border border-dark">Fábio de Souza Costa</li>
          </ul>
        


     



    <br><br><br><br><br><br><br><br>
    </body>
    <%- include ('partials/footer.ejs'); %>








